.header {
    background-color: $white;
    padding: 1rem;
    margin-bottom: 2rem;
}

.header__nav {
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        @include fs16($white);
    }
}

.header__auth-il {
    @include fs24($gray-900);

    @include m1() {
        margin-right: 1rem;
    }
}

.header__link {
    @include btn-secondary(min-content);
}

.header li:has(.header__link--login) {
    margin-left: auto;
}

.header .header__link--admin {
    margin-left: auto;
}
