// Breakpoints
$breakpoint1: rem(768px);
$breakpoint2: rem(1440px);

// Sizes
$wrapper-width: rem(736px);

// Colors
$gray-900: #2A4144;
$gray-500: #86A2A5;
$white: #fff;
$green-600: #0C7D69;
$green-200: #E0F1E8;
$red: #D73C3C;
$btn-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), var(--color-green-600, #0C7D69);
$btn-delete-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), var(--color-green-600, #D73C3C);
